<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Kansas City Fighting Game Community Resources">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>
      {{ block "title" . }} 
        {{ .Site.Title }} 
      {{ end }}
    </title>
    <link rel="stylesheet" href="/styles/reset.css">
    {{ $globalStyle := resources.Get "styles/global.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $globalStyle.Permalink }}">
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var root = document.getElementById('root');
        document.getElementById('drawer-open').addEventListener('click', function () {
          root.classList.toggle('drawer-open', true);
        });
        document.getElementById('drawer-close').addEventListener('click', function () {
          root.classList.toggle('drawer-open', false);
        });
        document.getElementById('drawer-backdrop').addEventListener('click', function () {
          root.classList.toggle('drawer-open', false);
        });
      })
    </script>
  </head>
  <body>
    <div id="root">
      <div id="root-frame" class="frame">
        <div class="top">
          <span class="left"></span>
          <img src="/images/icon-conn-dialup.png" alt="" width="16px" height="16px" />
          <div class="text">{{ .Site.Title }}</div>
          <span class="center"></span>
          <span class="right"></span>
        </div>
        <div class="mid">
          <span class="left"></span>
          <div class="content">
            {{ partial "menu.html" . }}
            <!-- Code that all your templates share, like a header -->
            {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }}
          </div>
          <span class="right"></span>
        </div>
        <div class="bottom">
          <span class="left"></span>
          <span class="center">
            {{ partial "footer.html" . }}
          </span>
          <span class="right"><a id="github-link" href="https://github.com/kc-magic-pixel/kc-magic-pixel.github.io" title="GitHub"> </a></span>
        </div>
      </div>
      {{ partial "drawer.html" . }}
    </div>
  </body>
</html>
