<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{ with .Summary }}<meta name="description" content="{{ . }}">{{ end }}
    <meta name="theme-color" content="#0c2340">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Page.Permalink }}">
    {{ block "og" . }}
    {{- $icon := resources.Get "images/mp_icon.png" -}}
    <meta property="og:title" content='{{ block "title" . }}{{ end }}'>
    {{ with .Summary }}<meta property="og:description" content="{{ . }}">{{ end }}
    <meta property="og:type" content="website">
    <meta property="og:image" content='{{ ($icon.Resize "512x512").Permalink }}'>
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta property="og:image:alt" content="Magic Pixel logo">
    {{ end }}
    <title>
      {{ block "title" . }}{{ .Site.Title }} | {{ .Site.Params.subtitle }}{{ end }}
    </title>
    {{ block "structured_data" . }}{{ end }}
    {{- $icon := resources.Get "images/mp_icon.png" -}}
    <link rel="apple-touch-icon" sizes="180x180" href='{{ ($icon.Resize "180x180").RelPermalink }}'>
    <link rel="icon" type="image/png" sizes="144x144" href='{{ ($icon.Resize "192x192").RelPermalink }}'>
    <link rel="icon" type="image/png" sizes="144x144" href='{{ ($icon.Resize "144x144").RelPermalink }}'>
    <link rel="icon" type="image/png" sizes="96x96" href='{{ ($icon.Resize "96x96").RelPermalink }}'>
    <link rel="icon" type="image/png" sizes="48x48" href='{{ ($icon.Resize "48x48").RelPermalink }}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{ ($icon.Resize "32x32").RelPermalink }}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{ ($icon.Resize "16x16").RelPermalink }}'>
    <link rel="manifest" href="/site.webmanifest">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
    <link rel="stylesheet" href="/styles/reset.css">
    {{ $fontStyle := resources.Get "styles/fonts.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $fontStyle.RelPermalink }}">
    {{ $globalStyle := resources.Get "styles/global.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $globalStyle.RelPermalink }}">
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}
    <script type="application/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        var root = document.getElementById('root');
        document.getElementById('drawer-open').addEventListener('click', function () {
          root.classList.toggle('drawer-open', true);
        });
        document.getElementById('drawer-close').addEventListener('click', function () {
          root.classList.toggle('drawer-open', false);
        });
        document.getElementById('drawer-backdrop').addEventListener('click', function () {
          root.classList.toggle('drawer-open', false);
        });
      })
    </script>
  </head>
  <body>
    <div id="root">
      <div id="root-frame" class="frame">
        <div class="top">
          <span class="left"></span>
          <img src="/images/icon-conn-dialup.png" alt="" width="16" height="16" />
          <header class="text">{{ block "title" . }}{{ end }}</header>
          <span class="center"></span>
          <span class="right"></span>
        </div>
        <div class="mid">
          <span class="left"></span>
          <div class="content">
            {{ partial "menu.html" . }}
            {{ block "main" . }}{{ end }}
          </div>
          <span class="right"></span>
        </div>
        <div class="bottom">
          <span class="left"></span>
          <span class="center">
            {{ partial "footer.html" . }}
          </span>
          <span class="right"><a id="github-link" href="https://github.com/kcmagicpixel/kcmagicpixel.github.io" title="GitHub"> </a></span>
        </div>
      </div>
      {{ partial "drawer.html" . }}
    </div>
  </body>
</html>
