$font-family-h1: Raleway, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-family-h2: Ubuntu, Arial, Helvetica, sans-serif;
$font-family-body: 'Maven Pro', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;