@import "_colors";

body {
  color: $color-text;
}

h2 {
  font-size: 1.75rem;
}

a {
  color: $color-tertiary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;

  li.content-item {
    width: 100%;
    display: flex;
    border-bottom: solid 1px $color-tertiary;

    &.ml > :first-child {
      margin-left: 1rem;
      border-left: solid 1px $color-tertiary;
    }

    i {
      margin-right: 0.25rem;
    }
  }
}

main {
  padding-bottom: 1rem;
  & > h1,
  & > h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-tertiary;
  }

  & > article + h1 {
    margin-top: 0;
  }
}

article {
  padding-left: 1rem;
  padding-right: 1rem;

  * {
    padding: revert;
    margin: revert;
  }
}

.block-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  min-width: 4rem;

  & > * {
    white-space: nowrap;
  }

  & > .weekday {
    font-family: $font-family-h3;
    font-weight: 600;
  }

  & > .day {
    font-family: $font-family-h3;
    font-weight: 900;
    font-size: 2.5rem;
  }

  & > .month {
    font-family: $font-family-h1;
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
  }
}

img.banner {
  max-height: 350px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.p1 {
  padding: 1rem;
}

i {
  &.start-gg {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: $color-text;
    -webkit-mask: url("/images/start-gg-icon.svg") no-repeat center;
    mask: url("/images/start-gg-icon.svg");
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
