@import '_colors';
@import '../fonts/_fonts';

main ul.events {
  li.event {
    width: 100%;
    display: flex;
    border-bottom: solid 1px $color-tertiary;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    
    .desc {
      flex: 1;
      overflow: hidden;
    }

    .block-date {
      flex: 0 0 4rem;
      border-left: solid 1px $color-tertiary;
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;
      margin-left: 1rem;
      margin-right: 0.5rem;
    }

    .icon {
      flex: 0;
      margin-left: 0.5rem;
      display: none;

      @media screen and (min-width: 1025px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        margin-right: -0.5rem;
      }
 
      img {
        height: 100%;
        max-width: 6rem;
        object-fit: contain;
      }
    }

    summary {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: nowrap;

      a {
        display: inline-block;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $color-tertiary;
        margin-right: 1rem;
        min-width: 2.5rem;
        height: 100%;

        &:last-child:not(:first-child) {
          margin-right: 0;
          text-align: end;
        }
      }
      
      i, img {
        margin-right: 0.25rem;
      }

      img {
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  }
}

main.event-single {
  .banner, .info-title {
    border-bottom: solid 1px $color-tertiary;
  }

  .info-title {
    display: flex;
 
    .block-date {
      border-left: solid 1px $color-tertiary;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-left: 1rem;
    }

    .title {
      line-height: 1;
      display: flex;
      align-items: center;
      padding: 1rem;
    }

    .link {
      border: solid 1px $color-tertiary;
      border-bottom: none;
    }
  }
}