@import "_colors";
@import "../fonts/_fonts";

main ul.events {
  li.event {
    padding-right: 0.5rem;

    .desc {
      flex: 1;
      overflow: hidden;

      h3 {
        color: $color-primary;
        padding-top: 0.5rem;
      }
    }

    .block-date {
      flex: 0 0 4rem;
      margin-right: 0.5rem;
    }

    .icon {
      flex: 0;
      margin-left: 0.5rem;
      display: none;

      @media screen and (min-width: 1025px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -0.5rem;
        margin-bottom: -0.5rem;
        margin-right: -0.5rem;
      }

      img {
        height: 100%;
        max-width: 6rem;
        object-fit: contain;
      }
    }

    summary,
    details {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      & > summary {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: nowrap;

      a {
        display: inline-block;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 1rem;
        min-width: 2.5rem;
        padding-bottom: 0.5rem;
        height: 100%;

        &:last-child:not(:first-child) {
          margin-right: 0;
          text-align: end;
        }
      }

      img {
        margin-right: 0.25rem;
        display: inline-block;
        vertical-align: text-bottom;
      }
    }
  }
}

main#event-single {
  .banner {
    border-bottom: solid 1px $color-tertiary;
  }

  #event-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto auto;

    @media screen and (min-width: 1025px) {
      grid-template-rows: auto auto;
    }

    #event-title-area {
      display: flex;
      grid-row: 1 / 1;
      grid-column: 1 / 11;
      border-bottom: solid 1px $color-tertiary;
      min-height: 6rem;

      @media screen and (min-width: 1025px) {
        grid-column: 1 / 7;
      }

      .block-date {
        border-left: solid 1px $color-tertiary;
        margin-left: 1rem;
      }

      #event-title {
        line-height: 1;
        display: flex;
        align-items: center;
        padding: 1rem;

        @media screen and (min-width: 1025px) {
          flex: 1;
          border-right: solid 1px $color-tertiary;
        }
      }
    }

    #event-quick-info {
      grid-row: 2 / 2;
      grid-column: 1 / 11;
      display: grid;
      // grid-template-rows: 1fr auto auto;

      @media screen and (min-width: 1025px) {
        grid-row: 1 / 1;
        grid-column: 7 / 11;
        padding-left: 0;
      }
    }

    #event-description {
      grid-column: 1 / 11;
      border-bottom: solid 1px $color-tertiary;
      margin-left: 1px;

      @media screen and (min-width: 1025px) {
        grid-column: 1 / 7;
        border-right: solid 1px $color-tertiary;
      }
    }

    #event-details {
      grid-column: 1 / 11;

      @media screen and (min-width: 1025px) {
        grid-column: 7 / 11;
      }
    }

    ul.info-list {
      margin: 0;
      padding: 0;
      padding-left: 1rem;
      list-style: none;
      border-bottom: solid 1px $color-tertiary;

      @media screen and (min-width: 1025px) {
        padding-left: 0;
      }

      & > li {
        min-height: 2rem;
        padding: 0.5rem;
        border-bottom: solid 1px $color-tertiary;
        border-left: solid 1px $color-tertiary;

        @media screen and (min-width: 1025px) {
          border-left: none;
        }

        &,
        & > span {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &:last-of-type {
          border-bottom: none;
        }

        a {
          color: $color-tertiary;
        }

        i,
        img {
          margin-right: 0.5rem;
          width: 1rem;
          text-align: center;
        }

        i:first-child {
          margin-right: 0;
          margin-left: -0.5rem;
          width: 2rem;
        }
      }
    }
  }
}
