main#details-grid {
  .banner {
    border-bottom: solid 1px $color-tertiary;
  }

  #grid-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto auto;

    @media screen and (min-width: 1025px) {
      grid-template-rows: auto auto;
    }

    #grid-title-area {
      display: flex;
      grid-row: 1 / 1;
      grid-column: 1 / 11;
      border-bottom: solid 1px $color-tertiary;
      min-height: 6rem;

      @media screen and (min-width: 1025px) {
        grid-column: 1 / 7;
      }

      .block-date {
        border-left: solid 1px $color-tertiary;
        margin-left: 1rem;
      }

      #grid-title {
        flex: 1;
        line-height: 1;
        display: flex;
        align-items: center;
        padding: 1rem;

        @media screen and (min-width: 1025px) {
          flex: 1;
          border-right: solid 1px $color-tertiary;
        }
      }
    }

    #grid-quick-info {
      grid-row: 2 / 2;
      grid-column: 1 / 11;
      display: grid;
      // grid-template-rows: 1fr auto auto;

      @media screen and (min-width: 1025px) {
        grid-row: 1 / 1;
        grid-column: 7 / 11;
        padding-left: 0;
      }
    }

    #grid-description {
      grid-column: 1 / 11;
      border-bottom: solid 1px $color-tertiary;
      margin-left: 1px;

      @media screen and (min-width: 1025px) {
        grid-column: 1 / 7;
        border-right: solid 1px $color-tertiary;
      }
    }

    #grid-details {
      grid-column: 1 / 11;

      @media screen and (min-width: 1025px) {
        grid-column: 7 / 11;
      }
    }

    ul.info-list {
      margin: 0;
      padding: 0;
      padding-left: 1rem;
      list-style: none;
      border-bottom: solid 1px $color-tertiary;

      @media screen and (min-width: 1025px) {
        padding-left: 0;
      }

      & > li {
        min-height: 3rem;
        padding: 0.5rem;
        border-bottom: solid 1px $color-tertiary;
        border-left: solid 1px $color-tertiary;

        @media screen and (min-width: 1025px) {
          border-left: none;
        }

        &,
        & > span {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &:last-of-type {
          border-bottom: none;
        }

        a {
          color: $color-tertiary;
        }

        i,
        img {
          margin-right: 0.5rem;
          width: 1rem;
          text-align: center;
        }

        i:first-child {
          margin-right: 0;
          margin-left: -0.5rem;
          width: 2rem;
        }
      }
    }
  }
}
