@import "_colors";

header.main-header {
  position: sticky;
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $color-tertiary;
  background-color: $color-secondary;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 1025px) {
      justify-content: flex-start;
    }

    & > a {
      color: $color-text;
      padding: 1em;
      text-decoration: none;

      &.active {
        background-color: $color-primary;
      }

      &:active:not(.active) {
        color: $color-primary;
      }
    }
  }
}
