#root {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  @media screen and (min-width: 1025px) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  & > .frame  {
    height: 100%;
    max-width: 1000px;

    & > .mid {
      overflow-y: auto;
    }
  }
}

header.main-header {
  position: sticky;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  width: 100%;

  & > a {
    padding: 1em;
  }
}

main ul.events {
  li {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    .event-col {
      display: flex;
      flex-direction: column;
    }

    .date {
      margin-right: 1em;
      flex: 0;
      
      & > span {
        white-space: nowrap;
      }
    }

    .desc {
      flex: 1;
    }

    .img {
      flex: 0;
    }
  }
}