{{ $recentLastmod := .Lastmod }}
{{ $childPages := .Pages }}
{{ if eq .RelPermalink "/past-events/" }}
  {{ $childPages = where (where .Site.RegularPages "Section" "events") "Params.start_date" "le" now }}
{{ else if eq .RelPermalink "/events/" }}
  {{ $childPages = where .Pages "Params.start_date" "ge" now }}
{{ else if eq .RelPermalink "/" }}
  {{- $upcomingEvents := first 3 ((where (where .Site.RegularPages "Section" "events") "Params.start_date" "ge" now).ByParam "start_date") -}}
  {{- $recentEvents := first 3 ((where (where (where .Site.RegularPages "Section" "events") "Params.start_date" "lt" now) "Params.start_date" "ge" (now.AddDate 0 -1 0)).ByParam "start_date").Reverse -}}
  {{ $childPages = $upcomingEvents | append $recentEvents }}
{{ end }}
{{ with $childPages }}
  {{ range . }}
    {{ $pageLastmod := partial "deep-lastmod.html" . }}
    {{ if gt $pageLastmod $recentLastmod }}
      {{ $recentLastmod = $pageLastmod }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $recentLastmod }}