

<div id="drawer-backdrop"></div>
<div id="drawer-frame" class="frame">
  <div id="drawer-close" class="top" title="Close Drawer">
    <span class="left"></span>
    <img src="/images/mobile/icon-netscape.png" alt="" width="16" height="16" />
    <div class="text">Navigator</div>
    <span class="center"></span>
    <span class="right"></span>
  </div>
  <div class="mid">
    <span class="left"></span>
    <div class="content">
      <nav id="drawer" class="menu-nav">
        {{ partial "menu-content.html" . }}
      </nav>
    </div>
    <span class="right"></span>
  </div>
  <div class="bottom slim">
    <span class="left"></span>
    <span class="center"></span>
    <span class="right"></span>
  </div>
</div>