<li class="event content-item ml">
  {{ partial "block-date.html" .Params.start_date }}
  <div class="desc">
    <a class="title" href="{{ .RelPermalink }}"><h3>{{ .Title }}</h3></a>
    {{ .Summary }}{{ if .Truncated }} (more...){{ end }}
    {{ with (.Params.events) }}
      <div class="games">
        {{ range . }}<b>{{ .name }}</b>{{ end }}
      </div>
    {{ end }}
    <footer>
      {{ with (.Params.address) }}<a class="address" href='https://www.google.com/maps/search/{{ . }}'><i class="fa-solid fa-location-dot"></i><span>{{ . }}</span></a>{{else}}<span></span>{{ end }}
      <span class="player-count">{{ with .Params.participant_count }}{{ if ge . 10 }}<i class="fa-solid fa-people-group"></i>{{ . }}{{ end }}{{ end }}</span>
      {{ with (.Params.url_startgg) }}<a href="{{ . }}" class="start-gg"><img src="/images/start-gg-icon.svg" alt="start.gg" width="16" height="16" /></a>{{ end }}
    </footer>
  </div>
  {{ with partial "img-ref.html" .Params.ref_icon }}
    {{ $img := .Resize "96x" }}
    <div class="icon">
      <img src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}" alt="{{ $.Title }} icon" />
    </div>
  {{ end }}
</li>