<header id="main-header">
  <nav>
  {{- range site.Menus.main }}
    {{- $attrs := dict "href" .URL }}
    {{- if or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "true") }}
    {{- end }}
    <a 
      {{- range $k, $v := $attrs }}
        {{- with $v }}
          {{- printf " %s=%q" $k $v | safeHTMLAttr }}
        {{- end }}
      {{- end -}}
    >
      <h3>
        {{ .Name }}
        {{- with .Page }}
          {{- with .Params.version -}}
            ({{ . }})
          {{- end }}
        {{- end }}
      </h3>
    </a>
  {{- end }}
  </nav>
</header>