<li class="organization content-item">
  <div class="indent">
    <div class="title-container">
      <div class="title">
        <a href="{{ .RelPermalink }}"><h1>{{ .Title }}</h1></a>
        <div class="links">
        {{ range $link_key, $link_value := .Params.links }}
          {{ $title := humanize $link_key }}
          <a href="{{ $link_value.url }}">
          {{ if eq $link_key "startgg" }}
            <i class="start-gg" title="start.gg"></i>
          {{ else }}
            <i class="fa-brands fa-{{ $link_key }}" title="{{ $title }}"></i>
          {{ end }}
          </a>
        {{ end }}
        </div>
      </div>
      {{ with .Params.ref_icon }}
        {{ $url := "" }}
        {{ if hasPrefix . "http" }}
          {{ $url = (resources.GetRemote .).Permalink }}
        {{ else }}
          {{ $url = (resources.Get .).RelPermalink }}
        {{ end }}
        <img src="{{ $url }}" alt="{{ $.Page.Title }} icon" />
      {{ end }}
    </div>
    <summary>
      {{ .Summary }}
    </summary>
  </div>
</li>