{{ define "main" }}
  <main aria-role="main">
    <article>
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{ .Content }}
    </article>
    {{ $events_list := where (where .Site.RegularPages "Section" "events") "Params.start_date" "ge" now }}
    {{ with $events_list }}
      <h1>
        <a href='{{ ($.Site.GetPage "events").RelPermalink }}'>Upcoming Events</a>
      </h1>
      <ul class="events">
        {{ range first 3 (.ByParam "start_date") }}
          {{ partial "events-li.html" . }}
        {{ end }}
      </ul>
    {{ end }}
  </main>
{{ end }}