{{ define "title" }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main>
  <h1>Upcoming Events</h1>
  <ul class="events">
    {{ $events_list := where .Pages "Params.start_date" "ge" now }}
    {{ range ($events_list.ByParam "start_date") }}
      {{ partial "events-li.html" . }}
    {{ end }}
  </ul>
  <footer class="past-events"><span>Looking for <strong><a href='{{ ($.Site.GetPage "past-events").RelPermalink }}'>past events</a></strong>?</span></footer>
  {{ partial "schedule-block" . }}
</main>
{{ end }}