{{ define "title" }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main aria-role="main">
  <h1>Upcoming Events</h1>
  <ul class="events">
    {{ $events_list := where .Pages "Params.start_date" "ge" now }}
    {{ range ($events_list.ByParam "start_date") }}
      {{ partial "events-li.html" . }}
    {{ end }}
  </ul>
  <footer class="past-events"><span>Looking for <a href='{{ ($.Site.GetPage "past-events").RelPermalink }}'>past events</a>?</span></footer>
  {{ $series := slice }}{{ range .Site.Taxonomies.series }}{{ $series = append .Page $series }}{{ end }}
  {{ with where $series "Params.schedule" true }}
    <h2>Schedule</h2>
    <ul class="series-summary">
      {{ range (sort . "Weight") }}{{ partial "series-li.html" . }}{{ end }}
    </ul>
  {{ end }}
</main>
{{ end }}