{{ define "title" }}
{{ .Title }} | Events | {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <main id="details-grid">
    {{ with partial "img-ref.html" .Params.ref_banner }}
      {{ $img := .Resize "1000x" }}
      <img class="banner" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" alt="{{ $.Page.Title }} banner" />
    {{ end }}
    <div id="grid-content">
      <div id="grid-title-area">
        {{ partial "block-date.html" .Params.start_date }}
        <div id="grid-title"><h1>{{ .Title }}</h1></div>
      </div>
      <ul id="grid-quick-info" class="info-list">
        <li><span><i class="fa-solid fa-clock" title="Time"></i>{{ .Params.start_date.Format "3:04 PM MST" }}</span></li>
        {{ with .Params.address }}
          <li><span><i class="fa-solid fa-location-dot" title="Address"></i>{{ . }}</span></li>
        {{ end }}
        {{ if .Params.url_startgg }}
          <li>
            <span><i class="start-gg" title="start.gg" ></i><a href="{{ .Params.url_startgg }}">start.gg</a></span>
            {{ with .Params.participant_count }}
              <span><i class="fa-solid fa-people-group" title="Participants"></i>{{ . }}</span>
            {{ end }}
          </li>
        {{ end }}
      </ul>
      <article id="grid-description">
        {{ .Content }}
      </article>
      <ul id="grid-details" class="info-list">
      {{ with $.Site.GetPage "about" }}
        <li><span><i class="fa-solid fa-shop" title="Host Organization"></i><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></span><span></li>
        {{ with .Params.url_codeofconduct }}
          <li><span><i class="fa-solid fa-scroll" title="Code of Conduct"></i><a href="{{ . }}">Code of Conduct</a></span><span></li>
        {{ end }}
      {{ end }}
      {{ with .Params.events }}
        <li>
          <i class="fa-solid fa-gamepad" title="Schedule"></i>
          <div class="game-schedule">
          {{ range . }}
            <div class="game-schedule-item">
              <div class="game-schedule-item-header">
                {{ if .url_bracket }}
                  <a href="{{ .url_bracket }}">{{ .name }}</a>
                {{ else }}
                  {{ .name }}
                {{ end }}
                {{ with .start_date }}
                  <span class="game-schedule-fill"></span>
                  {{ time.Format ":time_short" . }}
                {{ end }}
              </div>
              <div class="game-schedule-item-info">
                
                <span>
                  <i class="fa-solid fa-dollar" title="{{ .name }} Entry Fee"></i>{{ with .entry_fee }}{{ . }}{{ else }}0{{ end }}
                </span>
                <span>
                  {{ if .participant_count }}
                  <i class="fa-solid fa-people-group" title="{{ .name }} Entrants"></i>{{ .participant_count }}
                  {{ end }}
                </span>
                {{ with .standings }}
                <ol>
                  {{ range . }}
                  <li>
                    <span>{{ with .prefix }}{{ . }} | {{ end }}{{ .player }} | </span>
                    <strong>{{ .standing }}</strong>
                  </li>
                  {{ end }}
                </ol>
                {{ end }}
              </div>
            </div>
          {{ end }}
          </div>
        </li>
      {{ end }}
      </ul>
    </div>
  </main>
{{ end }}
{{ define "structured_data" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "{{ .Params.title }}",
    {{ with .Params.start_date }}"startDate": "{{ .Format "2006-01-02T15:04:05-07:00" }}",{{ end }}
    {{ with .Params.end_date }}"endDate": "{{ time.Format "2006-01-02T15:04:05-07:00" . }}",{{ end }}{{ if .Params.address }}
    "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
    "location": {
      "@type": "Place",{{ with .Params.venue_name }}
      "name": "{{ . }}",{{ end }}
      "address": {
        "@type": "PostalAddress",
        "name": "{{ .Params.address }}"
       }
    },{{ end }}
    {{- $images := slice -}}
    {{- range (slice .Params.ref_icon .Params.ref_banner) -}}
      {{- with partial "img-ref.html" . -}}
        {{- $images = $images | append .Permalink -}}
      {{- end -}}
    {{- end -}}
    {{ with $images }}
    "image": [{{ range (. | uniq) }}
      {{ . }}{{ if ne . (index (last 1 $images) 0) }}, {{ end }}{{ end }}
    ],{{ end }}
    {{- $events := slice -}}
    {{- range .Params.events -}}
      {{ $events = $events | append .name }}
    {{- end -}}
    "description": "{{ with $events }}{{ delimit . " • "}} • {{ end }}{{ .Summary }}",{{ if .Params.url_startgg }}
    "offers": {
      "@type": "Offer",
      "url": {{ .Params.url_startgg }},
      "price": "{{ with .Params.venue_fee }}{{ . }}{{ else }}{{ 0 }}{{ end }}",
      "priceCurrency": "USD",{{ with .Params.created_date }}
      "validFrom": "{{ time.Format "2006-01-02T15:04:05-07:00" . }}",{{ end }}
      "availability": {{ if (gt .Params.start_date now) }}"https://schema.org/InStock"{{ else }}"https://schema.org/SoldOut"{{ end }}
    },{{ end }}{{ with $.Site.GetPage "about" }}
    "organizer": {
      "@type": "Organization",
      "name": "{{ .Params.name }}",
      "url": {{ .Permalink }}
    },{{ end }}
    "eventStatus": "https://schema.org/EventScheduled"
  }
  </script>
{{ end }}