{{ define "title" }}
  {{ .Title }} - {{ time.Format ":date_short" .Params.start_date }}
{{ end }}
{{ define "main" }}
  <main aria-role="main" id="details-grid">
    {{ with .Params.ref_banner }}
      {{ $img := "" }}
      {{ if hasPrefix . "http" }}
        {{ $img = (resources.GetRemote .).Resize "1000x" }}
      {{ else }}
        {{ $img = (resources.Get .).Resize "1000x" }}
      {{ end }}
      <img class="banner" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" alt="{{ $.Page.Title }} banner" />
    {{ end }}
    <div id="grid-content">
      <div id="grid-title-area">
        {{ partial "block-date.html" .Params.start_date }}
        <div id="grid-title"><h1>{{ .Title }}</h1></div>
      </div>
      <ul id="grid-quick-info" class="info-list">
        <li><span><i class="fa-solid fa-clock" title="Time"></i>{{ .Params.start_date.Format "3:04 PM MST" }}</span></li>
        {{ with .Params.address }}
          <li><span><i class="fa-solid fa-location-dot" title="Address"></i>{{ . }}</span></li>
        {{ end }}
        {{ if .Params.url_startgg }}
          <li>
            <span><i class="start-gg" title="start.gg" ></i><a href="{{ .Params.url_startgg }}">start.gg</a></span>
            {{ with .Params.participant_count }}
              <span><i class="fa-solid fa-people-group"></i>{{ . }}</span>
            {{ end }}
          </li>
        {{ end }}
      </ul>
      <article id="grid-description">
        {{ .Content }}
      </article>
      <ul id="grid-details" class="info-list">
      {{ with .Params.ref_org }}
        {{ with $.Site.GetPage . }}
          <li><span><i class="fa-solid fa-shop" title="Host Organization"></i><a href="{{ .RelPermalink }}">{{ .Title }}</a></span><span></li>
          {{ with .Params.url_codeofconduct }}
            <li><span><i class="fa-solid fa-scroll" title="Code of Conduct"></i><a href="{{ . }}">Code of Conduct</a></span><span></li>
          {{ end }}
        {{ end }}
      {{ end }}
      {{ with .Params.events }}
        <li>
          <i class="fa-solid fa-gamepad"></i>
          <div class="game-schedule">
          {{ range . }}
            <div class="game-schedule-item">
              {{ .name }}
              {{ with .start_date }}
                <span class="game-schedule-fill"></span>
                {{ time.Format ":time_short" . }}
              {{ end }}
            </div>
          {{ end }}
          </div>
        </li>
      {{ end }}
      </ul>
    </div>
  </main>
{{ end }}